.box {
  background: white;
  padding: 1rem;
  border-radius: 9px;
  box-shadow: 0 0 1rem #2221;
  min-width: 420px;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 1rem;
}

.center {
  align-items: center;
  justify-content: center;
}

button,
.btn {
  width: 100%;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 6px;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-mini {
  width: 2rem;
  padding: 0.2rem;
  margin: 0;
}
