html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 16px sans-serif;
}

* {
  box-sizing: border-box;
}

span {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

form,
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 300px;
}

label {
  margin-bottom: 0.3rem;
  padding: 0 0.2rem;
  font-weight: bolder;
}

input,
textarea {
  margin: 1rem 0;
  border: 1px solid #2222;
  border-radius: 6px;
  width: 100%;
  padding: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 6px;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.rect {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  background-color: #339966;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.3rem;
}

.container-row > button {
  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
}

.rect-border {
  background-color: #335599;
  border: 2px solid #333;
}
